<a href="https://colab.research.google.com/github/MUHAMMAD-SULEMAN-10/EDA-Projects/blob/main/EDA_%26_FE_flight_price_data_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Agenda:

### EDA and Feature Engineeirng

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
df=pd.read_excel('/content/flight_price.xlsx')

In [ ]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [ ]:
df['Airline'].unique() #these are categorical features

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [ ]:
import pandas as pd

In [ ]:
pd.to_datetime(df['Date_of_Journey'],infer_datetime_format=True)

/tmp/ipython-input-2297389715.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  pd.to_datetime(df['Date_of_Journey'],infer_datetime_format=True)
/tmp/ipython-input-2297389715.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  pd.to_datetime(df['Date_of_Journey'],infer_datetime_format=True)

0       2019-03-24
1       2019-05-01
2       2019-06-09
3       2019-05-12
4       2019-03-01
           ...
10678   2019-04-09
10679   2019-04-27
10680   2019-04-27
10681   2019-03-01
10682   2019-05-09
Name: Date_of_Journey, Length: 10683, dtype: datetime64[ns]

In [ ]:
type(pd.to_datetime(df['Date_of_Journey'],infer_datetime_format=True))

/tmp/ipython-input-3260961534.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  type(pd.to_datetime(df['Date_of_Journey'],infer_datetime_format=True))
/tmp/ipython-input-3260961534.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  type(pd.to_datetime(df['Date_of_Journey'],infer_datetime_format=True))

pandas.core.series.Series

In [ ]:
df['Date_of_Journey']=pd.to_datetime(df['Date_of_Journey'],infer_datetime_format=True)

/tmp/ipython-input-498306277.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df['Date_of_Journey']=pd.to_datetime(df['Date_of_Journey'],infer_datetime_format=True)
/tmp/ipython-input-498306277.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['Date_of_Journey']=pd.to_datetime(df['Date_of_Journey'],infer_datetime_format=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  datetime64[ns]
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 918.2+ KB

In [ ]:
pd.to_datetime(df['Date_of_Journey'],infer_datetime_format=True).dt.day #get all the days

/tmp/ipython-input-4186569762.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  pd.to_datetime(df['Date_of_Journey'],infer_datetime_format=True).dt.day #get all the days

0        24
1         1
2         9
3        12
4         1
         ..
10678     9
10679    27
10680    27
10681     1
10682     9
Name: Date_of_Journey, Length: 10683, dtype: int32

In [ ]:
#CREATE A NEW FATURE 'DAY' , Month , Year

df['Day']=df['Date_of_Journey'].dt.day #get all the
df['Month']=df['Date_of_Journey'].dt.month #get all months
df['Year']=df['Date_of_Journey'].dt.year #get all the years

In [ ]:
df.head()
#now we can clearly see we have added day , month , year new features

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Day,Month,Year
0,IndiGo,2019-03-24,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,2019
1,Air India,2019-05-01,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,5,2019
2,Jet Airways,2019-06-09,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,9,6,2019
3,IndiGo,2019-05-12,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,12,5,2019
4,IndiGo,2019-03-01,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,1,3,2019

In [ ]:
#now drop the col Date_of_Journey

df.drop('Date_of_Journey',axis=1,inplace=True) # axis=1 means a we are targeting a colom

In [ ]:
df.head()

,Airline,Source,Destination,Route,Total_Stops,Additional_Info,Price,Day,Month,Year,Arrival_hour,Arrival_min,duration_hour,duration_min,Dept_Hour,Dept_Min
0,IndiGo,Banglore,New Delhi,BLR → DEL,0.0,No info,3897,24,3,2019,1,10 22 Mar,2,50,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,2.0,No info,7662,1,5,2019,13,15,7,25,5,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,2.0,No info,13882,9,6,2019,4,25 10 Jun,19,0,9,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,1.0,No info,6218,12,5,2019,23,30,5,25,18,5
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,1.0,No info,13302,1,3,2019,21,35,4,45,16,50

# another way to perfrom above task

In [ ]:
## Extract day,month and year from the string

# lambda x: (input → process → output)
# means “a tiny function where x is the input.

df["Date"]=df['Date_of_Journey'].apply(lambda x:x.split("/")[0])
df["Month"]=df['Date_of_Journey'].apply(lambda x:x.split("/")[1])
df["Year"]=df['Date_of_Journey'].apply(lambda x:x.split("/")[2])

KeyError: 'Date_of_Journey'

In [ ]:
##Fetaure Engineering Process

#another way

# df['Date']=df['Date_of_Journey'].str.split('/').str[0]
# final_df['Month']=df['Date_of_Journey'].str.split('/').str[1]
# df['Year']=df['Date_of_Journey'].str.split('/').str[2]

In [ ]:
df.head(2)

,Airline,Source,Destination,Route,Total_Stops,Additional_Info,Price,Day,Month,Year,Arrival_hour,Arrival_min,duration_hour,duration_min,Dept_Hour,Dept_Min
0,IndiGo,Banglore,New Delhi,BLR → DEL,0.0,No info,3897,24,3,2019,1,10 22 Mar,2,50,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,2.0,No info,7662,1,5,2019,13,15,7,25,5,50

In [ ]:
#take a colom Dep_Time

##Fetaure Engineering Process
#Here we are making new cols
df['Dept_Hour']=df['Dep_Time'].str.split(':').str[0]
df['Dept_Min']=df['Dep_Time'].str.split(':').str[1]

In [ ]:
df.drop('Dep_Time', axis=1, inplace=True)

In [ ]:
df.head()

,Airline,Source,Destination,Route,Total_Stops,Additional_Info,Price,Day,Month,Year,Arrival_hour,Arrival_min,duration_hour,duration_min,Dept_Hour,Dept_Min
0,IndiGo,Banglore,New Delhi,BLR → DEL,0.0,No info,3897,24,3,2019,1,10 22 Mar,2,50,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,2.0,No info,7662,1,5,2019,13,15,7,25,05,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,2.0,No info,13882,9,6,2019,4,25 10 Jun,19,0,09,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,1.0,No info,6218,12,5,2019,23,30,5,25,18,05
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,1.0,No info,13302,1,3,2019,21,35,4,45,16,50

In [ ]:
df.info()

#four features we have converted now these are integers

<class 'pandas.core.frame.DataFrame'>
Index: 10682 entries, 0 to 10682
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10682 non-null  object
 1   Source           10682 non-null  object
 2   Destination      10682 non-null  object
 3   Route            10681 non-null  object
 4   Total_Stops      10681 non-null  float64
 5   Additional_Info  10682 non-null  object
 6   Price            10682 non-null  int64
 7   Day              10682 non-null  int32
 8   Month            10682 non-null  int32
 9   Year             10682 non-null  int32
 10  Arrival_hour     10682 non-null  int64
 11  Arrival_min      10682 non-null  object
 12  duration_hour    10682 non-null  int64
 13  duration_min     10682 non-null  int64
 14  Dept_Hour        10682 non-null  object
 15  Dept_Min         10682 non-null  object
dtypes: float64(1), int32(3), int64(4), object(8)
memory usage: 1.5+ MB

In [ ]:
#need to convertDept_Hour , Dept_Min into integer data type

df['Dept_Hour']=df['Dept_Hour'].astype(int)
df['Dept_Min']=df['Dept_Min'].astype(int)

In [ ]:
df['Arrival_Time']=df['Arrival_Time'].apply(lambda x: x.split(' ')[0])

#lambda function is faster then str

In [ ]:
df['Arrival_Time']

0        01:10 22 Mar
1               13:15
2        04:25 10 Jun
3               23:30
4               21:35
             ...
10678           22:25
10679           23:20
10680           11:20
10681           14:10
10682           19:15
Name: Arrival_Time, Length: 10683, dtype: object

In [ ]:
df['Arrival_hour']=df['Arrival_Time'].str.split(':').str[0]
df['Arrival_min']=df['Arrival_Time'].str.split(':').str[1]

In [ ]:
df['Arrival_hour']=df['Arrival_hour'].astype(int)
df['Arrival_min']=df['Arrival_min'].astype(int)

In [ ]:
#now drop the col Arrival_Time

df.drop('Arrival_Time', axis=1, inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Route            10682 non-null  object
 4   Dep_Time         10683 non-null  object
 5   Duration         10683 non-null  object
 6   Total_Stops      10682 non-null  object
 7   Additional_Info  10683 non-null  object
 8   Price            10683 non-null  int64
 9   Day              10683 non-null  int32
 10  Month            10683 non-null  int32
 11  Year             10683 non-null  int32
 12  Arrival_hour     10683 non-null  int64
 13  Arrival_min      10683 non-null  object
dtypes: int32(3), int64(2), object(9)
memory usage: 1.0+ MB

In [ ]:
df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [ ]:
df['Total_Stops'].value_counts()

Total_Stops
1 stop      5625
non-stop    3491
2 stops     1520
3 stops       45
4 stops        1
Name: count, dtype: int64

In [ ]:
df[df['Total_Stops'].isnull()]

,Airline,Source,Destination,Route,Dep_Time,Duration,Total_Stops,Additional_Info,Price,Day,Month,Year,Arrival_hour,Arrival_min
9039,Air India,Delhi,Cochin,NaN,09:45,23h 40m,NaN,No info,7480,6,5,2019,9,25 07 May

In [ ]:
df['Total_Stops']=df['Total_Stops'].map({'non-stop':0,'1 stop':1,'2 stops':2,'3 stops':3,'4 stops':4,'nan':1})

In [ ]:
df.head()

,Airline,Source,Destination,Route,Dep_Time,Duration,Total_Stops,Additional_Info,Price,Day,Month,Year,Arrival_hour,Arrival_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,2h 50m,0.0,No info,3897,24,3,2019,1,10 22 Mar
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,7h 25m,2.0,No info,7662,1,5,2019,13,15
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,19h,2.0,No info,13882,9,6,2019,4,25 10 Jun
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,5h 25m,1.0,No info,6218,12,5,2019,23,30
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,4h 45m,1.0,No info,13302,1,3,2019,21,35

In [ ]:
df['duration_hour']=df['Duration'].str.split(' ').str[0].str.split('h').str[0]

In [ ]:
df[df['duration_hour']=='5m']

,Airline,Source,Destination,Route,Dep_Time,Duration,Total_Stops,Additional_Info,Price,Day,Month,Year,Arrival_hour,Arrival_min,duration_hour
6474,Air India,Mumbai,Hyderabad,BOM → GOI → PNQ → HYD,16:50,5m,2.0,No info,17327,6,3,2019,16,55,5m

In [ ]:
df.drop(6474,axis=0,inplace=True)

In [ ]:
df['duration_min']=df['Duration'].str.split(' ').str[1].str.split('m').str[0]

In [ ]:
df['duration_min']=df['duration_min'].fillna(0)

In [ ]:
# Drop Duration
df.drop('Duration',axis=1,inplace=True)

In [ ]:
df['duration_hour']=df['duration_hour'].astype(int)
df['duration_min']=df['duration_min'].astype(int)

In [ ]:
"Muhammad Suleman".split(" ")[0]

'Muhammad'

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10682 entries, 0 to 10682
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10682 non-null  object
 1   Source           10682 non-null  object
 2   Destination      10682 non-null  object
 3   Route            10681 non-null  object
 4   Dep_Time         10682 non-null  object
 5   Total_Stops      10681 non-null  float64
 6   Additional_Info  10682 non-null  object
 7   Price            10682 non-null  int64
 8   Day              10682 non-null  int32
 9   Month            10682 non-null  int32
 10  Year             10682 non-null  int32
 11  Arrival_hour     10682 non-null  int64
 12  Arrival_min      10682 non-null  object
 13  duration_hour    10682 non-null  int64
 14  duration_min     10682 non-null  int64
dtypes: float64(1), int32(3), int64(4), object(7)
memory usage: 1.2+ MB

In [ ]:
df.Airline.unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [ ]:
df.head()

,Airline,Source,Destination,Route,Dep_Time,Total_Stops,Additional_Info,Price,Day,Month,Year,Arrival_hour,Arrival_min,duration_hour,duration_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,0.0,No info,3897,24,3,2019,1,10 22 Mar,2,50
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,2.0,No info,7662,1,5,2019,13,15,7,25
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,2.0,No info,13882,9,6,2019,4,25 10 Jun,19,0
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,1.0,No info,6218,12,5,2019,23,30,5,25
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,1.0,No info,13302,1,3,2019,21,35,4,45

In [ ]:

## traget guided ordinal

df.groupby('Airline')['Price'].mean().sort_values()

Airline
Trujet                                4140.000000
SpiceJet                              4338.284841
Air Asia                              5590.260188
IndiGo                                5673.682903
GoAir                                 5861.056701
Vistara                               7796.348643
Vistara Premium economy               8962.333333
Air India                             9606.804112
Multiple carriers                    10902.678094
Multiple carriers Premium economy    11418.846154
Jet Airways                          11643.923357
Jet Airways Business                 58358.666667
Name: Price, dtype: float64

In [ ]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
ohe=OneHotEncoder()

In [ ]:
ohe.fit_transform(df[['Airline']]).toarray()

#It converts each number into a one-hot vector (0/1).

#Converts the sparse matrix into a normal numpy array.

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 1., 0., ..., 0., 0., 0.]])

In [ ]:
## Replacing target guided ordinal encoding
# def replace_airline_with_mean(df):
#     mean_prices = df.groupby('Airline')['Price'].mean().sort_values()
#     df['Airline'] = df['Airline'].apply(lambda x: mean_prices[x])
#     return df

# df = replace_airline_with_mean(df)
# df.head()

In [ ]:
pd.DataFrame(
    ohe.fit_transform(df[['Airline']]).toarray(),
    columns=ohe.get_feature_names_out()
)

,Airline_Air Asia,Airline_Air India,Airline_GoAir,Airline_IndiGo,Airline_Jet Airways,Airline_Jet Airways Business,Airline_Multiple carriers,Airline_Multiple carriers Premium economy,Airline_SpiceJet,Airline_Trujet,Airline_Vistara,Airline_Vistara Premium economy
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
10678,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10679,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10680,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10681,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
10682,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
ohe.transform([['IndiGo']]).toarray()

/usr/local/lib/python3.12/dist-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.]])

##Summary

All categories in the column you pass to OneHotEncoder are converted into numeric columns.

This happens for every categorical column individually if you encode them one by one.

Passing multiple columns at once will expand all categories in all columns into numeric columns.

The numbers you see (0/1) just indicate whether the row belongs to that category.

#fit( )
ohe.fit(df[['Airline']])


fit( ) learns all the unique categories from your data.

For Airline, it finds something like:



#output


['IndiGo', 'Air India', 'SpiceJet', 'Vistara', 'GoAir']

It does NOT yet convert anything. It just memorizes the categories and their order.

This is important when you want to apply the same encoding to new/unseen data.

#transform( )

encoded = ohe.transform(df[['Airline']])


transform( ) converts the actual data into numeric 0/1 columns using the

categories learned in fit( ).

##Example:

Original Airline column: ['IndiGo', 'Air India', 'SpiceJet']

Transform → One-hot numeric array:

IndiGo:       [1, 0, 0]
Air India:    [0, 1, 0]
SpiceJet:     [0, 0, 1]




##mportant:


transform( ) only works after fit( ) because it needs the mapping of category → column index

# fit_transform( )

encoded = ohe.fit_transform(df[['Airline']])


Combines both steps in one line:

fit( ) → learn the categories

transform( ) → convert your data into numeric columns

This is very convenient for training data.

##When to use fit( ) vs transform ( )

Training data: use fit_transform( ) → learn categories and encode at the same time.

Test or new data: use only transform( ) → apply the same mapping learned from training data.

Example:

# Training data
encoded_train = ohe.fit_transform(train_df[['Airline']])

# Test data
encoded_test = ohe.transform(test_df[['Airline']])


This ensures the same column order is used for train and test data.